<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品管理</title>
</head>
<body>
<div class="pageHeader">
    <form rel="pagerForm" th:action="@{/biz/productType/search(rel=${rel},pageTitle=${pageTitle},pageSize=20,pageIndex=1)}" method="post"
          onsubmit="return navTabSearch(this);">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td width="50">产品名称：</td>
                    <td width="50"><input type="text" name="productType.name" th:value="${productType.name}" /></td>

                    <td width="50">
                        <div class="subBar">
                            <ul>
                                <li>
                                    <div class="buttonActive">
                                        <div class="buttonContent">
                                            <button type="submit">检索</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent" layoutH="62">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
                <a class="add" th:href="@{/biz/productType/add(rel=${rel},pageTitle=${pageTitle})}"
                   th:rel="${rel}+'_add'" title="新增产品类型" target="dialog"  mask="true">
                    <span>新增产品类型</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="table" style="width: 100%" layoutH="140">
        <thead>
        <tr>
            <th width="1%" class="checkboxStyle"><input type="checkbox" group="contentIds" class="checkboxCtrl"></th>
            <th width="10%">产品名称</th>
            <th align="left" width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productType : ${domainPage.getDomains()}" align="center">
            <td><input name="contentIds"  type="checkbox"></td>
            <td th:text="${productType.name}"></td>

            <td align="left">
                <a title="编辑" target="dialog"  style="color:#3399CC" th:rel="${rel+'_edit'}"
                   th:href="@{/biz/productType/edit(id=${productType.id},rel=${rel})}">[编辑]</a>&nbsp;&nbsp;
                <a title="确认删除吗？" target="ajaxTodo"  style="color:#3399CC" th:rel="${rel+'_delete'}"
                   th:href="@{/biz/productType/delete(rel=${rel},id=${productType.id})}">[删除]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="pagination::page(${#servletContext.getContextPath()}+'/biz/productType/search?rel='+ ${rel}+'&pageTitle='+${pageTitle})"></div>
</body>
</html>