.cybertron-uploadify-button {
    background: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
}

.uploadify:hover .cybertron-uploadify-button {
    background: none;
    border: none;
}

.thumbImg {
    width: 600px;
    height: 160px;
    overflow: auto;
    /* border: 1px solid #E5E5E5; */
}

.thumbImg img {
    margin: 5px;
    height: 100px;
}

.thumbImg .imgunit {
    float: left;
    width: 170px;
    border: 1px solid #ccc;
    margin: 2px 5px;
}

.thumbImgPics {
    /* width: 300px; */
    height: 500px;
    overflow: auto;
    /* border: 1px solid #E5E5E5; */
}

.thumbImgPics img {
    margin: 5px;
    height: 100px;
    width: 150px;
}

.thumbImgPics .imgunit {
    float: left;
    width: 250px;
    border: 1px solid #ccc;
    margin: 2px 5px;
}

.imgunit .imgDefault {
    width: 150px;
    padding: 0;
}

.imgunit .imgDefault textarea {
    resize: none;
}

.imgunit .imgDel {
    float: right;
    top: 1px;
    right: 1px;
    width: 20px;
}

.redTipInfo {
    color: red;
}

#specificationProductTable {
    width: 80%;
    word-break: break-all;
}

#specificationProductTable td {
    height: 30px;
}

.cybertronModal {
    position: fixed;
    z-index: 1000010;
    text-align: left;
    top: 50%;
    left: 50%;
    background: #FFF;
    border: 1px solid #BBB;
    font-size: 12px;
    _position: absolute;
    _margin-top: expression(0 - parseInt(this.offsetHeight/ 2)+ (TBWindowMargin=document.documentElement&&
		
		
		
		
		
		
		
		
		
		
		
		 document.documentElement.scrollTop|| document.body.scrollTop)+'px');
}

.cybertronModalTitle {
    padding: 5px;
    background: #F0F0EE;
    border-bottom: 1px solid #BBB;
}

.cybertronModalClose {
    float: right;
    width: 16px;
    height: 16px;
    background: url(img/close.gif);
    cursor: pointer;
}

.cybertronModalIfmWait {
    width: 100%;
    height: 100%;
    background: url(img/waiting.gif) no-repeat 50% 50%;
    margin: -16 0 0 -16;
}

.cybertronModalShadow {
    position: fixed;
    z-index: 1000009;
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0.2;
    -ms-filter: 'alpha(opacity=20)';
    filter: alpha(opacity=20);
    _position: absolute;
    _margin-top: expression(0 - parseInt(this.offsetHeight/ 2)+ (TBWindowMargin=
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		 document.documentElement&& document.documentElement.scrollTop|| document.body.scrollTop)+
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		 5+ 'px');
}

.cybertronModalOverlay {
    position: fixed;
    z-index: 1000008;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    -ms-filter: 'alpha(opacity=20)';
    filter: alpha(opacity=20);
    _position: absolute;
    _height: expression(Math.max ( document.documentElement.clientHeight,
		document.documentElement.scrollHeight)+'px');
    _width: expression(Math.max ( document.documentElement.clientWidth,
		document.documentElement.scrollWidth)+'px');
}

.cybertronProgress {
    position: relative;
    width: 280px;
    margin: auto;
    border: 1px solid #C1C1C1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url(img/progressbg.gif) #E9E9E9;
}

.cybertronProgress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #222;
    text-shadow: 1px 1px 0 #eee;
}

.cybertronProgress div {
    height: 15px;
    width: 1px;
    background: url(img/progress.gif) #31C135;
}