@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#logo {
	margin: 0;
	padding: 20px 20px 20px 0;
	height: 60px;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

#middle {
	margin: 0;
	padding: 10px;
	min-width: 1347px;
	width: 100%;
	background: url("../images/background@4x.png") 0 0 no-repeat;background-size: 100% 100%;
}

.login_box {
	padding: 5px;
	background: url("../images/bg_loginbox@3x.png") 0 0 no-repeat;
	width: 331px;
	height: 361px;
	float: right;
	margin: 35px 0 0;
	color: #CCC;
}



.login_box .title {
	font-size: 14px;
	margin: 0 auto 20px 0;
}

.login_content {
	padding: 0 40px;
}

.login_content div {
	height: 30px;
	line-height: 20px;
}

.login_content div input[type="text"] {
	width: 200px;
}

.login_content div input[type="password"] {
	width: 200px;
}

.login_content div a {
	margin-left: 5px;
	color: #91e0ad;
	text-decoration: underline;
	cursor: pointer;
}

.btn_login {
	border: none;
	width: 255px;
	height: 35px;
	background: url("../images/btn_login.png") 0 0 no-repeat;background-size: 100% 100%;
	cursor: pointer;
}

span.error {
	color: #FA0D0D;
	display: block;
	/*height: 27px;*/
	/*left: 0;*/
	/*line-height: 1px;*/
	/*overflow: hidden;*/
	/*padding: 6 110px;*/
	/*position: relative;*/
	/*top: 0;*/
	/*width: 200px;*/
}

label.error {
	position: relative;
	left: 8px;
	color: red;
}

.icon-user{
	position: absolute;z-index:5;
    /*引入图片图片*/
    /*设置图片不重复*/
    /*图片显示的位置*/
    background: url("../images/User-name@3x.png") no-repeat 1px 2px;
    width: 20px; /*设置图片显示的宽*/
	height: 20px; /*图片显示的高*/
	margin-top: 4px;
	margin-left: 4px;
}
.user{
	padding-left: 22px;
}
.icon-password{
	position: absolute;z-index:5;
	/*引入图片图片*/
	/*设置图片不重复*/
	/*图片显示的位置*/
	background: url("../images/Password@3x.png") no-repeat 1px 2px;
	width: 20px; /*设置图片显示的宽*/
	height: 20px; /*图片显示的高*/
	margin-top: 4px;
	margin-left: 4px;
}
.password{
	padding-left: 22px;
}
.icon-captcha{
	position: absolute;z-index:5;
	/*引入图片图片*/
	/*设置图片不重复*/
	/*图片显示的位置*/
	background: url("../images/Verification-Code@3x.png") no-repeat 1px 2px;
	width: 20px; /*设置图片显示的宽*/
	height: 20px; /*图片显示的高*/
	margin-top: 4px;
	margin-left: 4px;
}
.captcha{
	padding-left: 22px;
}

.logo{
	margin-top:20px;
	margin-left:30px;
	height:60px;
	width:60px;
	float: left;
	background: url("../images/logo@3x.png") no-repeat;background-size: 100% 100%;
}