<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="common_header">
    <meta charset="UTF-8">
    <link th:href="@{/common/images/logo@3x.png}" type=image/x-icon rel="shortcut icon"/>
    <link th:href="@{/common/dwz-ria/themes/default/style.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/common/dwz-ria/themes/css/core.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/common/dwz-ria/themes/css/print.css}" rel="stylesheet" type="text/css" media="print"/>
    <link th:href="@{/common/uploadify/css/uploadify.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/common/css/common.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/common/dwz-ria/themes/css/ieHack.css}" rel="stylesheet" type="text/css" media="screen"/>

    <script th:src="@{/common/dwz-ria/speedup.js}" type="text/javascript"></script>

    <script th:src="@{/common/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.tmpl.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.metadata.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.bgiframe.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.ifixpng.js}" type="text/javascript"></script>
    <script th:src="@{/common/xheditor/xheditor-1.1.14-zh-cn.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/uploadify/scripts/jquery.uploadify.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/dwz-ria/dwz.min.js}" type="text/javascript"></script>

    <script th:src="@{/common/dwz-ria/dwz.regional.zh.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/common/dwz-ria/speedup.js}"></script>
    <script th:src="@{/common/js/additional-methods.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/common.js}" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor.config.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor.all.js}"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" th:src="@{/lang/zh-cn/zh-cn.js}"></script>
    <script th:src="@{/land/js/ajaxfileupload.js}"></script>
    <script th:inline="javascript">
        var base = [[${#servletContext.getContextPath()}]]
        var resourceRootUrl = [[${#session.getAttribute('RESOURCE_ROOT_URL')}]]
        var sessionId = '';
        var cookies = [[${#httpServletRequest.getCookies()}]]
        for(var i = 0;i<cookies.length;i++){
            if(cookies[i].name == 'JSESSIONID'){
                sessionId = cookies[i].value;
                break;
            }
        }
    </script>
    <script th:src="@{/common/js/jquery.cybertron.js}" type="text/javascript"></script>

    <script th:src="@{/common/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/echarts.js}"></script>
    <script th:src="@{/common/js/env.js}"></script>

</head>
<body>

</body>
</html>