<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<body>
<div th:fragment="left">
    <div id="leftside">
        <div id="sidebar_s">
            <div class="collapse">
                <div class="toggleCollapse">
                    <div></div>
                </div>
            </div>
        </div>

        <div id="sidebar">
            <div class="toggleCollapse">
                <h2>高视创意设计
                </h2>

                <div>收缩</div>
            </div>
            <div class="accordion" fillSpace="sidebar">

                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                <a th:href="@{/biz/product/search(rel='1001',pageTitle='1001',pageIndex=1,pageSize=20)}"
                                   target="navTab" rel="1001" external="false" fresh="true">产品管理</a>
                            </li>
                            <li>
                                <a th:href="@{/biz/customer/search(rel='1002',pageTitle='1002',pageIndex=1,pageSize=20)}"
                                   target="navTab" rel="1002" external="false" fresh="true">样板客户管理</a>
                            </li>
                            <li>
                                <a th:href="@{/biz/productType/search(rel='1003',pageTitle='1003',pageIndex=1,pageSize=20)}"
                                   target="navTab" rel="1003" external="false" fresh="true">产品类型管理</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
