<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="header">
<div id="header">
    <div class="headerNav">
        <ul class="nav">
            <li><a>欢迎您</a></li>
            <li><a th:href="@{/logout}">退出</a></li>
        </ul>
        <ul class="themeList" id="themeList">
            <li theme="default">
                <div class="selected">蓝色</div>
            </li>
            <li theme="green">
                <div>绿色</div>
            </li>
            <li theme="purple">
                <div>紫色</div>
            </li>
            <li theme="silver">
                <div>银色</div>
            </li>
            <li theme="azure">
                <div>天蓝</div>
            </li>
        </ul>
    </div>
</div>
</div>
</body>
</html>