<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>成都环保网络理政平台</title>
    <link th:href="@{/common/images/logo@3x.png}" type=image/x-icon rel="shortcut icon"/>
    <link th:href="@{/common/css/login.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/jquery.ifixpng.js}" type="text/javascript"></script>
    <script th:src="@{/common/dwz-ria/dwz.min.js}" type="text/javascript"></script>
    <script th:src="@{/common/js/login.js}" type="text/javascript"></script>
    <style>

    </style>
</head>
<body>
<div id="logo">
    <div class="wrapper">
    </div>
</div>

<div id="middle">
    <div class="wrapper">
        <div class="login_font">
        </div>
        <div class="login_box">

            <form id="subForm" th:action="@{/login}" method="post">

                <div>
                    <div class="logo"></div>
                </div>
                <div style="padding-top:30px;margin-left:100px;color: #643414;font-size: 18px;">成都环保网络理政平台</div>
                <div style="margin-left:100px;color: #643414;"><span style="font-size: 10px;-webkit-text-size-adjust:none">ChengDu Environmental protection</span></div>

                <div class="login_content">
                    <div style="margin-top: 40px">
                        <i class="icon-user"></i>
                        <input type="text" class="user" style="width: 250px;height: 30px;" name="username" placeholder="请输入用户名"/>
                    </div>

                    <div style="margin-top: 20px">
                        <i class="icon-password"></i>
                        <input type="password" class="password" style="width: 250px;height: 30px;" name="password" placeholder="请输入登录密码"/>

                    </div>
                    <div style="margin-top: 20px">
                        <i class="icon-captcha"></i>
                        <input type="text" name="captcha" class="captcha" style="width: 140px;height: 30px;text-transform: uppercase;" maxlength="4" placeholder="请输入验证码"/>

                    </div>
                    <span class="error1" style="margin-top:20px;color: #FA0D0D;display: block; height: 27px;left: 0; overflow: hidden;padding: 0 0 0 20px;
            position: relative;top: 0;width: 200px" th:text="${errorText}"> </span>
                    <div>
                        <input type="checkbox" name="rememberMe" value="0" /><span style="color: #643414;font-size: 10px">记住用户</span>
                        <a style="color: #643414;font-size:10px;margin-left: 30%;position: relative" shref="javascript:void();" id="flush">看不清楚？换一张</a>
                        <img th:src="@{/captcha.jpg}" alt="" width="95" height="30" id="captchaImage"
                             style="cursor: pointer;position:relative;left: 155px;top: -97px; "/>
                    </div>
                    <div>
                        <input type="submit" class="btn_login" value="&nbsp;"/>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<!-- end:middle -->
</body>
</html>