<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="page(pageUrl)">
    <div class="panelBar">
        <form id="pagerForm" th:action="${pageUrl}"
              method="post">
            <input type="hidden" name="pageIndex" th:value="${domainPage.pageIndex}" />
            <input type="hidden" name="pageSize" th:value="${domainPage.pageSize}" />

        </form>
        <div class="pages">
            <span>显示</span> <select class="combox" name="pageSize"
                                    onchange="navTabPageBreak({numPerPage:this.value}, '')">
            <option value="20" th:selected="${ domainPage.pageSize eq 20}">20
            <option value="50" th:selected="${ domainPage.pageSize eq 50}">50
            <option value="100" th:selected="${ domainPage.pageSize eq 100}">100
            </option>
        </select> <span th:text="'条，共'+${domainPage.totalCount}+'条'"></span>
        </div>

        <div class="pagination"
             th:totalCount="${domainPage.totalCount}"
             th:numPerPage="${domainPage.pageSize}"
             th:pageNumShown="5"
             th:currentPage="${domainPage.pageIndex}"></div>
    </div>
</div>
</div>
</body>
</html>