<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/common/jquery-ui/theme/jquery-ui-1.9.2.custom.min.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <script type="text/javascript" th:src="@{/common/jquery-ui/jquery-ui-1.9.2.custom.min.js}"></script>
</head>
<body>
<h2 class="contentTitle">添加产品</h2>

<div class="pageContent">
    <form method="post" id="addProductForm" th:action="@{/biz/product/add(rel=${rel})}"
          class="pageForm required-validate"
          onsubmit="return validateCallback(this,navTabAjaxDone) && navTabSearch(this);">

        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt> 产品名称：</dt>
                <dd>
                    <input style="width: 350px" name="product.productName" value="" maxlength="20"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 生产商：</dt>
                <dd>
                    <input style="width: 350px" name="product.company" value="" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 产品型号：</dt>
                <dd>
                    <input style="width: 350px" name="product.model" value="" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 产品类型：</dt>
                <dd>
                   <select name="product.typeId">
                       <option th:each="productType:${productTypeList}" th:value="${productType.id}" th:text="${productType.name}"></option>
                   </select>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 产品描述：</dt>
                <dd>
                    <textarea cols="55" rows="5" maxlength="30" name="product.description"></textarea>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 产品价格：</dt>
                <dd>
                    <input style="width: 350px" name="product.price" value="" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 预览图：</dt>
                <dd>
                    <input id="productImage" type="file" name="filedata" target="uploadify"
                           uploadifyOpts='{"onUploadSuccess":productAdd.previewImageUpload,"multi":true,"fileSizeLimit":"1MB","fileTypeExts":"*.gif; *.jpg; *.png;*.jpeg"}'>
                    <input type="hidden" name="product.preview" id="addPreview">
                </dd>
            </dl>
            <div th:include="biz/product/pic_add::addPic"></div>
            <input type="hidden" name="product.images" id="addImages"/>
            <dl class="nowrap" style="margin-top: 10px;">
                <dt> 产品介绍：</dt>
                <dd>
                    <div style="width: 400px">
                        <script id="addProductEditor" type="text/plain" style="width:1000px;height:600px;"/>
                        <input type="hidden" name="addProductContent" id="addProductContent"/>
                    </div>
                </dd>
            </dl>

        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" id="addProductSubmit">提交</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    $(function () {
        UE.delEditor('addProductEditor');
        var ue = UE.getEditor('addProductEditor');
    })

    var productAdd = {
        previewImageUpload: function (file, data, response) {
            if (!response) {
                return;
            }
            var $this = $(this);
            data = eval("(" + data + ")");
            $this.each(function (i) {
                var $wrapper = $this[i].wrapper;
                $wrapper.parent().find("img").remove();
                $("#addPreview").val(data.url);
                $("<img style='width: 250px;height: 200px' src='" + resourceRootUrl + data.url + "'>").appendTo($wrapper.parent());
            });
        }
    }

    jQuery.extend(jQuery.validator.messages, {
        required: "必选字段",
        remote: "请修正该字段",
        email: "请输入正确格式的电子邮件",
        url: "请输入合法的网址",
        date: "请输入合法的日期",
        dateISO: "请输入合法的日期 (ISO).",
        number: "请输入合法的数字",
        digits: "只能输入整数",
        creditcard: "请输入合法的信用卡号",
        equalTo: "请再次输入相同的值",
        accept: "请输入拥有合法后缀名的字符串",
        checkLegalIdcard: "身份证填写不合法",
        checkOrganizationCertificate: "请填写XXXXXXXX-X格式的组织机构代码",
        maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
        minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
        rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
        range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
        max: jQuery.validator.format("请输入一个最大为{0} 的值"),
        min: jQuery.validator.format("请输入一个最小为{0} 的值")
    });

    $.validator.addMethod("checkPrice",
        function (value, element, params) {
            var regx = /^\d+$|^\d+\.\d{0,2}$/gi;
            if (!regx.test(value)) {
                return false
            } else {
                return true
            }
        }, "只能有两位小数");


    var validate = $('#addProductForm').validate({
        errorElement: 'span',

        rules: {
            'product.productName': {
                required: true,
                maxlength: 50
            },
            'product.company': {
                required: true,
                maxlength: 50
            },
            'product.model': {
                required: true,
                maxlength: 20
            },
            'product.price': {
                required: true,
                number: true,
                checkPrice: true
            },
            'product.description': {
                required: true,
                maxlength: 200
            }


        },

        errorPlacement: function (error, element) {
            if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if (element.is('.select2')) {
                error.appendTo(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if (element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }

            else   error.appendTo(element.parent());
        }

    });

    $("#addProductSubmit").click(function () {

        var atlas = '';
        $("input[name='product_add_pics']").each(function () {
            atlas += $(this).val()+",";
        })
        atlas = atlas.substring(0,atlas.lastIndexOf(","))
        $("#addImages").val(atlas);
        var addPreview = $("#addPreview").val();

        if (addPreview == '') {
            alertMsg.error("请添加预览图！");
            return false;
        }

        if(atlas == ''){
            alertMsg.error("请添加图集！");
            return false;
        }
        var content = UE.getEditor('addProductEditor').getContent();
        if(content.trim() == ''){
            alertMsg.error("请填写产品介绍！");
            return false;
        }

        $("#addProductContent").val(content);
        $("#addProductForm").submit();
    })
</script>
</html>