<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品管理</title>
</head>
<body>
<div class="pageHeader">
    <form rel="pagerForm" th:action="@{/biz/product/search(rel=${rel},pageTitle=${pageTitle},pageSize=20,pageIndex=1)}" method="post"
          onsubmit="return navTabSearch(this);">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td width="50">产品名称：</td>
                    <td width="50"><input type="text" name="product.productName" th:value="${product.productName}" /></td>
                    <td width="50">产品编号：</td>
                    <td width="50"><input type="text" name="product.productNo" th:value="${product.productNo}" /></td>
                    <td width="50">
                        <select name="product.typeId">
                            <option value="">==请选择==</option>
                            <option th:each="productType:${productTypeList}" th:value="${productType.id}" th:text="${productType.name}"
                            th:selected="${product.typeId == productType.id}"></option>
                        </select>
                    </td>
                    <td width="50">
                        <div class="subBar">
                            <ul>
                                <li>
                                    <div class="buttonActive">
                                        <div class="buttonContent">
                                            <button type="submit">检索</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent" layoutH="62">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
                <a class="add" th:href="@{/biz/product/add(rel=${rel},pageTitle=${pageTitle})}"
                   th:rel="${rel}+'_add'" title="新增产品" target="navTab">
                    <span>新增产品</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="table" style="width: 100%" layoutH="140">
        <thead>
        <tr>
            <th width="1%" class="checkboxStyle"><input type="checkbox" group="contentIds" class="checkboxCtrl"></th>
            <th width="10%">产品名称</th>
            <th width="10%">产品编号</th>
            <th width="10%">生产商</th>
            <th width="10%">型号</th>
            <th width="10%">类型</th>
            <th width="10%">价格</th>
            <th width="10%">状态</th>
            <th align="left" width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${domainPage.getDomains()}" align="center">
            <td><input name="contentIds"  type="checkbox"></td>
            <td th:text="${data['product'].productName}"></td>
            <td th:text="${data['product'].productNo}"> </td>
            <td th:text="${data['product'].company}"></td>
            <td th:text="${data['product'].model}"></td>
            <td th:text="${data['productType'].name}"></td>
            <td th:text="${data['product'].price}"></td>
            <td th:text="${data['product'].isTop == 0 ? '普通产品':'特色产品'}"></td>

            <td align="left">
                <a title="编辑" target="navTab"  style="color:#3399CC" th:rel="${rel+'_edit'}"
                   th:href="@{/biz/product/edit(id=${data['product'].id},rel=${rel})}">[编辑]</a>&nbsp;&nbsp;
                <a title="确认置顶吗？" target="ajaxTodo"  style="color:#3399CC" th:rel="${rel+'_top'}"
                   th:href="@{/biz/product/top(rel=${rel},product.id=${data['product'].id})}"
                   th:if="${data['product'].isTop == 0}">[置顶]</a>
                <a title="确认取消置顶吗？" target="ajaxTodo"  style="color:#3399CC" th:rel="${rel+'_offTop'}"
                   th:href="@{/biz/product/offTop(rel=${rel},product.id=${data['product'].id})}"
                   th:if="${data['product'].isTop == 1}">[取消置顶]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="pagination::page(${#servletContext.getContextPath()}+'/biz/product/search?rel='+ ${rel}+'&pageTitle='+${pageTitle})"></div>
</body>
</html>