<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/common/jquery-ui/theme/jquery-ui-1.9.2.custom.min.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <script type="text/javascript" th:src="@{/common/jquery-ui/jquery-ui-1.9.2.custom.min.js}"></script>
</head>
<body>
<h2 class="contentTitle">添加产品</h2>

<div class="pageContent">
    <form method="post" id="addCustomerForm" th:action="@{/biz/customer/add(rel=${rel})}"
          class="pageForm required-validate"
          onsubmit="return validateCallback(this,navTabAjaxDone) && navTabSearch(this);">

        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt> 客户名称：</dt>
                <dd>
                    <input style="width: 350px" name="sampleCustomer.customerName" value="" maxlength="20"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 客户介绍：</dt>
                <dd>
                    <textarea cols="55" rows="5" maxlength="30" name="sampleCustomer.description"></textarea>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 客户地址：</dt>
                <dd>
                    <input style="width: 350px" name="sampleCustomer.location" value="" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 设计概念：</dt>
                <dd>
                    <textarea cols="55" rows="5" maxlength="30"name="sampleCustomer.concept" value=""/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt> 主页效果图：</dt>
                <dd>
                    <input id="customerImage" type="file" name="filedata" target="uploadify"
                           uploadifyOpts='{"onUploadSuccess":customerAdd.previewImageUpload,"multi":true,"fileSizeLimit":"1MB","fileTypeExts":"*.gif; *.jpg; *.png;*.jpeg"}'>
                    <input type="hidden" name="sampleCustomer.preview" id="addCustomerPreview">
                </dd>
            </dl>
            <div th:include="biz/customer/pic_add::addPic"></div>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" id="addCustomerSubmit">提交</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">


    var customerAdd = {
        previewImageUpload: function (file, data, response) {
            if (!response) {
                return;
            }
            var $this = $(this);
            data = eval("(" + data + ")");
            $this.each(function (i) {
                var $wrapper = $this[i].wrapper;
                $wrapper.parent().find("img").remove();
                $("#addCustomerPreview").val(data.url);
                $("<img style='width: 250px;height: 200px' src='" + resourceRootUrl + data.url + "'>").appendTo($wrapper.parent());
            });
        }
    }

    jQuery.extend(jQuery.validator.messages, {
        required: "必选字段",
        remote: "请修正该字段",
        email: "请输入正确格式的电子邮件",
        url: "请输入合法的网址",
        date: "请输入合法的日期",
        dateISO: "请输入合法的日期 (ISO).",
        number: "请输入合法的数字",
        digits: "只能输入整数",
        creditcard: "请输入合法的信用卡号",
        equalTo: "请再次输入相同的值",
        accept: "请输入拥有合法后缀名的字符串",
        checkLegalIdcard: "身份证填写不合法",
        checkOrganizationCertificate: "请填写XXXXXXXX-X格式的组织机构代码",
        maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
        minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
        rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
        range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
        max: jQuery.validator.format("请输入一个最大为{0} 的值"),
        min: jQuery.validator.format("请输入一个最小为{0} 的值")
    });


    var validate = $('#addCustomerForm').validate({
        errorElement: 'span',

        rules: {
            'sampleCustomer.customerName': {
                required: true,
                maxlength: 50
            },
            'sampleCustomer.description': {
                required: true,
                maxlength: 200
            },
            'sampleCustomer.location': {
                required: true,
                maxlength: 50
            },
            'sampleCustomer.concept': {
                required: true,
                maxlength: 20
            }

        },

        errorPlacement: function (error, element) {
            if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if (element.is('.select2')) {
                error.appendTo(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if (element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }

            else   error.appendTo(element.parent());
        }

    });

    $("#addCustomerSubmit").click(function () {

        var addCustomerPreview = $("#addCustomerPreview").val();

        if (addCustomerPreview == '') {
            alertMsg.error("请添加预览图！");
            return false;
        }

        if($(".customerNum").length == 0){
            alertMsg.error("请添加图集！");
            return false;
        }
        $("#addCustomerForm").submit();
    })
</script>
</html>