<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>样板客户管理</title>
</head>
<body>
<div class="pageHeader">
    <form rel="pagerForm" th:action="@{/biz/customer/search(rel=${rel},pageTitle=${pageTitle},pageSize=20,pageIndex=1)}" method="post"
          onsubmit="return navTabSearch(this);">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td width="50">客户名称：</td>
                    <td width="50"><input type="text" name="sampleCustomer.customerName" th:value="${sampleCustomer.customerName}" /></td>
                    <td width="50">客户编号：</td>
                    <td width="50"><input type="text" name="sampleCustomer.customerNo" th:value="${sampleCustomer.customerNo}" /></td>
                    <td width="50">
                        <select name="sampleCustomer.isTop">
                            <option value="">==请选择==</option>
                            <option value="0" th:selected="${sampleCustomer.isTop == 0}">未置顶</option>
                            <option value="1" th:selected="${sampleCustomer.isTop == 1}">已置顶</option>
                        </select>
                    </td>
                    <td width="50">
                        <div class="subBar">
                            <ul>
                                <li>
                                    <div class="buttonActive">
                                        <div class="buttonContent">
                                            <button type="submit">检索</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent" layoutH="62">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
                <a class="add" th:href="@{/biz/customer/add(rel=${rel},pageTitle=${pageTitle})}"
                   th:rel="${rel}+'_add'" title="新增样板客户" target="navTab">
                    <span>新增样板客户</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="table" style="width: 100%" layoutH="140">
        <thead>
        <tr>
            <th width="1%" class="checkboxStyle"><input type="checkbox" group="contentIds" class="checkboxCtrl"></th>
            <th width="10%">客户名称</th>
            <th width="10%">客户编号</th>
            <th width="10%">客户地址</th>
            <th width="10%">设计概念</th>
            <th width="10%">描述</th>
            <th width="10%">状态</th>
            <th align="left" width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sampleCustomer : ${domainPage.getDomains()}" align="center">
            <td><input name="contentIds"  type="checkbox"></td>
            <td th:text="${sampleCustomer.customerName}"></td>
            <td th:text="${sampleCustomer.customerNo}"></td>
            <td th:text="${sampleCustomer.location}"></td>
            <td th:text="${sampleCustomer.concept}"></td>
            <td th:text="${sampleCustomer.description}"></td>
            <td th:text="${sampleCustomer.isTop == 0 ? '未置顶':'已置顶'}"></td>

            <td align="left">
                <a title="编辑" target="navTab"  style="color:#3399CC" th:rel="${rel+'_edit'}"
                   th:href="@{/biz/customer/edit(id=${sampleCustomer.id},rel=${rel})}">[编辑]</a>&nbsp;&nbsp;
                <a title="确认置顶吗？" target="ajaxTodo"  style="color:#3399CC" th:rel="${rel+'_top'}"
                   th:href="@{/biz/customer/top(rel=${rel},id=${sampleCustomer.id})}"
                   th:if="${sampleCustomer.isTop == 0}">[置顶]</a>
                <a title="确认取消置顶吗？" target="ajaxTodo"  style="color:#3399CC" th:rel="${rel+'_offTop'}"
                   th:href="@{/biz/customer/offTop(rel=${rel},id=${sampleCustomer.id})}"
                   th:if="${sampleCustomer.isTop == 1}">[取消置顶]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="pagination::page(${#servletContext.getContextPath()}+'/biz/customer/search?rel='+ ${rel}+'&pageTitle='+${pageTitle})"></div>
</body>
</html>