<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="editPic">
    <script>
        j = 10;
        var pics = {
            picsUploadSuccess: function (file, data, response) {
                if (!response) {
                    return;
                }
                var count =$("input[name='customer_edit_pics']").length;
                if (count > 4) {
                    alertMsg.error("最多只能上传5张图片");
                    return;
                }
                var $this = $(this);
                data = eval("(" + data + ")");
                $this.each(function (i) {
                    var $wrapper = $this[i].wrapper;
                    var url = resourceRootUrl + data.url;
                    $("#customer_edit_picsTmpl").tmpl([{
                        URL: url,
                        IMAGE_URL: data.url,
                        INDEX:j++
                    }]).appendTo($wrapper.parents("dl").next(".pics"));
                });
                $(".portlet-header .ui-icon").click(function () {
                    $(this).parents(".column").remove();
                });
            }
        };

        $(function () {
            $.each($(".pics"), function () {
                var $this = $(this);
                $this.sortable({
                    stop: function (event, ui) {
                        $(".column").find("input[name$='orders']").each(
                            function (i) {
                                $(this).val(i);
                            });
                    }
                });
            });
            $(".portlet-header .ui-icon").click(function () {
                $(this).parents(".column").remove();
            });
        });
    </script>
    <style>
        .pics {
            width: 98%;
            border: 1px solid #CCC;
            margin: 5px;
            float: left;
            min-height: 100px
        }

        .column {
            width: 170px;
            float: left;
            padding-bottom: 100px;
        }

        .portlet {
            margin: 0 1em 1em 0;
        }

        .portlet-header {
            margin: 0.3em;
            padding-bottom: 4px;
            padding-left: 0.2em;
        }

        .portlet-header .ui-icon {
            float: right;
        }

        .portlet-content {
            padding: 0.4em;
        }

        .portlet-content textarea {
            resize: none;
            width: 138px;
            height: 80px;
        }

        .ui-sortable-placeholder {
            border: 1px dotted black;
            visibility: visible !important;
            height: 50px !important;
        }

        .ui-sortable-placeholder * {
            visibility: hidden;
        }
    </style>
    <dl>
        <dt class="nowrap">图集：</dt>
        <dd>
            <input th:id="${rel + 'PicsFileAddPrev_edit'}" target="uploadify" type="file" name="filedata"
                   uploadifyOpts='{"onUploadSuccess":pics.picsUploadSuccess,"multi":true,"fileSizeLimit":"1MB"}'/>
        </dd>
    </dl>
    <div class="pics" >
        <div class="column" th:each="rendering,stat:${renderingList}">
            <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
                <div class="portlet-header ui-corner-all">
                    <span class='ui-icon ui-icon-close' style='cursor: pointer'></span>
                    <img alt="" th:src="${resourceRootUrl+ rendering.preview}" height="100"	width="120">
                    <textarea th:name="${'renderingVO.rendering['+stat.index+'].description'}" style="width: 120px;height:50px" th:text="${rendering.description}" placeholder="填写描述"></textarea>
                </div>
            </div>
            <input type="hidden" th:name="${'renderingVO.rendering['+stat.index+'].preview'}" th:value='${ rendering.preview}' />
            <input type="hidden" class="customerNum_edit">
        </div>
    </div>


    <script type="text/x-jquery-tmpl" id="customer_edit_picsTmpl">
            <div class="column">
                <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
                    <div class="portlet-header ui-corner-all">
                        <span class='ui-icon ui-icon-close' style='cursor:pointer'></span>
                        <img alt="" src="${URL}" height="100"
                            width="120">
                             <textarea name="renderingVO.rendering[${INDEX}].description" style="width: 120px;height:50px" placeholder="填写描述"></textarea>
                    </div>

           </div>
             <input type="hidden" name="renderingVO.rendering[${INDEX}].preview" value='${IMAGE_URL}'/>
           <input type="hidden" class="customerNum_edit">
</div>

    </script>
</div>
</body>
</html>